{
    "semi": false,
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "es5",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "^(node:.*)$",
        "<THIRD_PARTY_MODULES>",

        "",

        "^@config/(.*)$",
        "^@models/(.*)$",
        "^@middlewares/(.*)$",
        "^@controllers/(.*)$",
        "^@routes/(.*)$",
        "^@helpers/(.*)$",
        "^@utils/(.*)$",
        "^@services/(.*)$",
        "^@validators/(.*)$",

        "",

        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
